section.hero{
    flex-direction: column-reverse;  
    & div.buttons{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }
}

section.gallery{
    & div.content{
        
        grid-template-columns: 1fr;
        grid-template-areas: "A"
        "B"
        "C"
        "D";
    }
}

footer{
    display: flex;
    flex-direction: column; 
    align-items: start;
    gap: 3rem;
    

    & nav{
        flex-direction: column;
    }
}